In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
school = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/school_census.csv",index_col=0)
census = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/dem_census.csv", index_col=0)

In [11]:
school.head()

,region_name,region_id,state_name,state_abbrev,state_id,city_name,city_id,mesoregion_name,mesoregion_id,microregion_name,...,address,address_number,address_complement,neighborhood,zip_code,n_students,n_teachers,n_classes,sigla_uf,geometry
0,Norte,1.0,Rondônia,RO,11.0,Alta Floresta D'Oeste,1100015.0,Leste Rondoniense,1102.0,Cacoal,...,TERRA INDIGENA RIO BRANCO,NaN,ALDEIA COLORADO,RURAL,76954000.0,0.0,0.0,0.0,RO,GEOMETRYCOLLECTION EMPTY
1,Norte,1.0,Rondônia,RO,11.0,Alta Floresta D'Oeste,1100015.0,Leste Rondoniense,1102.0,Cacoal,...,AVENIDA RIO DE JANEIRO,4776,ESCOLA,CIDADE ALTA,76954000.0,0.0,0.0,0.0,RO,POINT (2887709.936365384 8671780.13513328)
2,Norte,1.0,Rondônia,RO,11.0,Alta Floresta D'Oeste,1100015.0,Leste Rondoniense,1102.0,Cacoal,...,LINHA 60 COM A 140,NaN,NaN,NaN,76954000.0,0.0,0.0,0.0,RO,POINT (2866453.797061269 8659136.466983514)
3,Norte,1.0,Rondônia,RO,11.0,Alta Floresta D'Oeste,1100015.0,Leste Rondoniense,1102.0,Cacoal,...,ROLIM DE MOURA DO GUAPORE,NaN,NaN,NaN,76954000.0,0.0,0.0,0.0,RO,POINT (2855400.444998572 8541257.395884698)
4,Norte,1.0,Rondônia,RO,11.0,Alta Floresta D'Oeste,1100015.0,Leste Rondoniense,1102.0,Cacoal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RO,GEOMETRYCOLLECTION EMPTY

In [18]:
census.head()

,sector_id,state,n_households,n_people,avg_monthly_earnings,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,...,subdistrict_id,subdistrict_name,neighborhood_name,neighborhood_id,zone,geometry,microregion_id,microregion_name,mesoregion_id,mesoregion_name
0,170025105000002,TO,115.0,300.0,648.06,1.0,0.0,0.0,10.0,0.0,...,1.700251e+10,NaN,NaN,NaN,2.0,"POLYGON ((4316081.043813151 8936951.569070809,...",17003.0,Miracema do Tocantins,1701.0,Ocidental do Tocantins
1,170025105000003,TO,59.0,167.0,433.73,0.0,0.0,0.0,0.0,0.0,...,1.700251e+10,NaN,NaN,NaN,2.0,"POLYGON ((4300023.229366692 8964455.368041243,...",17003.0,Miracema do Tocantins,1701.0,Ocidental do Tocantins
2,170030105000001,TO,286.0,1123.0,927.45,10.0,2.0,3.0,59.0,0.0,...,1.700301e+10,NaN,NaN,NaN,1.0,"POLYGON ((4501590.424471468 9273374.76835, 450...",17001.0,Bico do Papagaio,1701.0,Ocidental do Tocantins
3,170030105000002,TO,294.0,1101.0,478.33,11.0,0.0,1.0,46.0,0.0,...,1.700301e+10,NaN,NaN,NaN,1.0,POLYGON ((4503050.0514419945 9272734.518656082...,17001.0,Bico do Papagaio,1701.0,Ocidental do Tocantins
4,170030105000003,TO,102.0,385.0,453.32,3.0,1.0,0.0,17.0,0.0,...,1.700301e+10,NaN,NaN,NaN,2.0,"POLYGON ((4502995.959709885 9275774.210479755,...",17001.0,Bico do Papagaio,1701.0,Ocidental do Tocantins

In [19]:
# Count how many rows have geometry equal to school["geometry"][0]
# school["geometry"][0]
census[census["geometry"] == school["geometry"][0]].count()

sector_id                      31
state                          31
n_households                   29
n_people                       29
avg_monthly_earnings           29
n_people_15to17_white          30
n_people_15to17_black          30
n_people_15to17_asian          30
n_people_15to17_parda          30
n_people_15to17_indigenous     30
n_people_15                    30
n_people_16                    30
n_people_17                    30
n_people_15_men                30
n_people_16_men                30
n_people_17_men                30
n_people_15_women              30
n_people_16_women              30
n_people_17_women              30
n_people_15to17                30
n_people_15to17_alternative    31
state_id                        2
state_abbrev                    2
city_id                         2
city_name                       2
district_id                     2
district_name                   2
subdistrict_id                  2
subdistrict_name                0
neighborhood_name               1
neighborhood_id                 1
zone                            2
geometry                       31
microregion_id                 31
microregion_name               31
mesoregion_id                  31
mesoregion_name                31
dtype: int64

In [9]:
# Average number of students per classroom
print("Average number of students per classroom: ", school["n_students"].sum() / school["n_classes"].sum())

Average number of students per classroom:  30.250202315612356