In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
school = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/school_census.csv",index_col=0)
census = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/dem_census.csv", index_col=0)

In [30]:
# Create percentage statistics
census["pct_black"] = census["n_people_15to17_black"]/census["n_people_15to17"]
census["pct_white"] = census["n_people_15to17_white"]/census["n_people_15to17"]
census["pct_indigenous"] = census["n_people_15to17_indigenous"]/census["n_people_15to17"]
census["pct_pardos"] = census["n_people_15to17_parda"]/census["n_people_15to17"]
census["pct_asian"] = census["n_people_15to17_asian"]/census["n_people_15to17"]

## Summary Statistics

### Census Tracts

In [33]:
columns = {
    "n_households":"Number of households",
    "n_people":"Number of people", 
    "avg_monthly_earnings":"Average Monthly Earnings",
    "n_people_15to17": "Number of people aged 15 to 17",
    "pct_black": "Percentage black",
    "pct_white": "Percentage white",
    "pct_indigenous": "Percentage indigenous",
    "pct_pardos": "Percentage pardos",
    "pct_asian": "Percentage asian"}

metrics = {
     "mean": "Mean",
    "std": "Std.Dev",
}


df_summary = census[columns.keys()].describe().transpose()[metrics.keys()]

df_summary.rename(index=columns, columns=metrics, inplace=True)
df_summary

                                       Mean      Std.Dev
Number of households             185.307008   102.342254
Number of people                 613.518835   352.408517
Average Monthly Earnings        1229.582392  1375.383647
Number of people aged 15 to 17    34.022375    22.650654
Percentage black                   0.067868     0.093036
Percentage white                   0.474209     0.274176
Percentage indigenous              0.007208     0.073547
Percentage pardos                  0.440494     0.253670
Percentage asian                   0.010207     0.030482

In [18]:
df_summary.to_latex("summary.tex")

/var/folders/v6/m0s_jr6d723809xzpzrvx_340000gn/T/ipykernel_26527/237270451.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df_summary.to_latex("summary.tex")

In [19]:
# Count how many rows have geometry equal to school["geometry"][0]
# school["geometry"][0]
census[census["geometry"] == 'GEOMETRYCOLLECTION EMPTY'].count()

sector_id                      31
state                          31
n_households                   29
n_people                       29
avg_monthly_earnings           29
n_people_15to17_white          30
n_people_15to17_black          30
n_people_15to17_asian          30
n_people_15to17_parda          30
n_people_15to17_indigenous     30
n_people_15                    30
n_people_16                    30
n_people_17                    30
n_people_15_men                30
n_people_16_men                30
n_people_17_men                30
n_people_15_women              30
n_people_16_women              30
n_people_17_women              30
n_people_15to17                30
n_people_15to17_alternative    31
state_id                        2
state_abbrev                    2
city_id                         2
city_name                       2
district_id                     2
district_name                   2
subdistrict_id                  2
subdistrict_name                0
neighborhood_name               1
neighborhood_id                 1
zone                            2
geometry                       31
microregion_id                 31
microregion_name               31
mesoregion_id                  31
mesoregion_name                31
dtype: int64

In [9]:
# Average number of students per classroom
print("Average number of students per classroom: ", school["n_students"].sum() / school["n_classes"].sum())

Average number of students per classroom:  30.250202315612356

### Schools

In [36]:
school = school[(school["n_classes"] > 0) & (school["admin_type"] != 4.0)]

In [37]:
columns = {
    "n_teachers":"Number of teachers",
    "n_students":"Number of students",
    "n_classes":"Number of classes",}

metrics = {
     "mean": "Mean",
    "std": "Std.Dev",
}


school_summary = school[columns.keys()].describe().transpose()[metrics.keys()]

school_summary.rename(index=columns, columns=metrics, inplace=True)
school_summary

                          Mean     Std.Dev
Number of teachers    8.404181   13.446329
Number of students  323.161171  289.465090
Number of classes    10.493902    8.259417

In [34]:
school.columns

Index(['region_name', 'region_id', 'state_name', 'state_abbrev', 'state_id',
       'city_name', 'city_id', 'mesoregion_name', 'mesoregion_id',
       'microregion_name', 'microregion_id', 'sector_id', 'school_id',
       'school_name', 'admin_type', 'location_type', 'address',
       'address_number', 'address_complement', 'neighborhood', 'zip_code',
       'n_students', 'n_teachers', 'n_classes', 'sigla_uf', 'geometry'],
      dtype='object')

In [38]:
school.describe()

,region_id,state_id,city_id,mesoregion_id,microregion_id,sector_id,school_id,admin_type,location_type,zip_code,n_students,n_teachers,n_classes
count,20500.000000,20500.000000,2.050000e+04,20500.000000,20500.000000,2.050000e+04,2.050000e+04,20500.000000,20500.000000,2.050000e+04,20500.000000,20476.000000,20500.000000
mean,2.881659,32.231366,3.239461e+06,3228.484878,32252.556146,3.239461e+08,3.236884e+07,1.979707,1.142537,5.202654e+07,323.161171,8.404181,10.493902
std,1.071267,9.872547,9.897297e+05,988.012521,9875.911680,9.897298e+07,9.871519e+06,0.194259,0.349608,2.762400e+07,289.465090,13.446329,8.259417
min,1.000000,11.000000,1.100015e+06,1101.000000,11001.000000,1.100015e+08,1.100026e+07,1.000000,1.000000,1.107000e+06,1.000000,0.000000,1.000000
25%,2.000000,26.000000,2.604106e+06,2602.000000,26005.000000,2.604106e+08,2.604306e+07,2.000000,1.000000,2.846000e+07,124.000000,0.000000,5.000000
50%,3.000000,33.000000,3.301702e+06,3304.000000,33009.000000,3.301702e+08,3.303018e+07,2.000000,1.000000,5.749500e+07,249.000000,0.000000,9.000000
75%,4.000000,41.000000,4.101804e+06,4101.000000,41002.250000,4.101804e+08,4.100937e+07,2.000000,1.000000,7.580038e+07,430.000000,16.000000,13.000000
max,5.000000,53.000000,5.300108e+06,5301.000000,53001.000000,5.300108e+08,5.306818e+07,3.000000,2.000000,9.999000e+07,3080.000000,223.000000,164.000000

In [41]:
# count if geomtry is 'GEOMETRYCOLLECTION EMPTY'
school[school["geometry"] == 'GEOMETRYCOLLECTION EMPTY'].count()

region_name           2023
region_id             2023
state_name            2023
state_abbrev          2023
state_id              2023
city_name             2023
city_id               2023
mesoregion_name       2023
mesoregion_id         2023
microregion_name      2023
microregion_id        2023
sector_id             2023
school_id             2023
school_name           2023
admin_type            2023
location_type         2023
address               2023
address_number        1663
address_complement     485
neighborhood          1781
zip_code              2023
n_students            2023
n_teachers            2022
n_classes             2023
sigla_uf              1990
geometry              2023
dtype: int64

## Correlations

In [ ]:
# norm_access_df = geo_dem_census_df.set_index("sector_id").join(A.access_df[["e2sfca_n_classes","3sfca_n_classes", "e2sfca_n_teachers", "3sfca_n_teachers"]], how="left")
# sp_df = norm_access_df[norm_access_df["city_name"] == "Araçatuba"]
# plt.scatter(sp_df["3sfca_n_teachers"], sp_df["3sfca_n_classes"], alpha=0.3)
# # set limits on the axes

# plt.xlabel("Teachers")
# plt.ylabel("Classrooms")
# plt.show()