In [5]:
# Importing necessary libraries
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from access import Access, weights, Datasets
import geopandas as gpd
from shapely import wkt
import access

In [6]:
# Importing data
school_census_df = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/school_census.csv",index_col=0)
dem_census_df = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/dem_census.csv", index_col=0)

In [7]:
dem_census_df.head()

,sector_id,state,n_households,n_people,avg_monthly_earnings,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,...,subdistrict_id,subdistrict_name,neighborhood_name,neighborhood_id,zone,geometry,microregion_id,microregion_name,mesoregion_id,mesoregion_name
0,170025105000002,TO,115.0,300.0,648.06,1.0,0.0,0.0,10.0,0.0,...,1.700251e+10,NaN,NaN,NaN,2.0,"POLYGON ((4316081.043813151 8936951.569070809,...",17003.0,Miracema do Tocantins,1701.0,Ocidental do Tocantins
1,170025105000003,TO,59.0,167.0,433.73,0.0,0.0,0.0,0.0,0.0,...,1.700251e+10,NaN,NaN,NaN,2.0,"POLYGON ((4300023.229366692 8964455.368041243,...",17003.0,Miracema do Tocantins,1701.0,Ocidental do Tocantins
2,170030105000001,TO,286.0,1123.0,927.45,10.0,2.0,3.0,59.0,0.0,...,1.700301e+10,NaN,NaN,NaN,1.0,"POLYGON ((4501590.424471468 9273374.76835, 450...",17001.0,Bico do Papagaio,1701.0,Ocidental do Tocantins
3,170030105000002,TO,294.0,1101.0,478.33,11.0,0.0,1.0,46.0,0.0,...,1.700301e+10,NaN,NaN,NaN,1.0,POLYGON ((4503050.0514419945 9272734.518656082...,17001.0,Bico do Papagaio,1701.0,Ocidental do Tocantins
4,170030105000003,TO,102.0,385.0,453.32,3.0,1.0,0.0,17.0,0.0,...,1.700301e+10,NaN,NaN,NaN,2.0,"POLYGON ((4502995.959709885 9275774.210479755,...",17001.0,Bico do Papagaio,1701.0,Ocidental do Tocantins

In [8]:
print(dem_census_df.columns)
print(school_census_df.columns)

Index(['sector_id', 'state', 'n_households', 'n_people',
       'avg_monthly_earnings', 'n_people_15to17_white',
       'n_people_15to17_black', 'n_people_15to17_asian',
       'n_people_15to17_parda', 'n_people_15to17_indigenous', 'n_people_15',
       'n_people_16', 'n_people_17', 'n_people_15_men', 'n_people_16_men',
       'n_people_17_men', 'n_people_15_women', 'n_people_16_women',
       'n_people_17_women', 'n_people_15to17', 'n_people_15to17_alternative',
       'state_id', 'state_abbrev', 'city_id', 'city_name', 'district_id',
       'district_name', 'subdistrict_id', 'subdistrict_name',
       'neighborhood_name', 'neighborhood_id', 'zone', 'geometry',
       'microregion_id', 'microregion_name', 'mesoregion_id',
       'mesoregion_name'],
      dtype='object')
Index(['region_name', 'region_id', 'state_name', 'state_abbrev', 'state_id',
       'city_name', 'city_id', 'mesoregion_name', 'mesoregion_id',
       'microregion_name', 'microregion_id', 'sector_id', 'school_id',
       'school_name', 'admin_type', 'location_type', 'address',
       'address_number', 'address_complement', 'neighborhood', 'zip_code',
       'n_students', 'n_teachers', 'n_classes', 'sigla_uf', 'geometry'],
      dtype='object')

In [9]:
# Only public schools with at least one high school class and regions with at least one high-school aged person
geo_dem_census_df = dem_census_df[dem_census_df["n_people_15to17"] > 0]
geo_school_census_df = school_census_df[(school_census_df["n_classes"] > 0) & (school_census_df["admin_type"] != 4.0)]

In [10]:
# Transforming into geometry
geo_dem_census_df = gpd.GeoDataFrame(geo_dem_census_df, geometry = geo_dem_census_df["geometry"].apply(wkt.loads))
geo_school_census_df = gpd.GeoDataFrame(geo_school_census_df, geometry = geo_school_census_df["geometry"].apply(wkt.loads))

/Users/feliphlvo/opt/anaconda3/envs/cap_env/lib/python3.10/site-packages/geopandas/array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
/Users/feliphlvo/opt/anaconda3/envs/cap_env/lib/python3.10/site-packages/geopandas/geodataframe.py:31: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  out = from_shapely(np.asarray(data))

In [11]:
# Importing the distance matric. See Creating Distance Matrix.ipynb
dist_matrix = pd.read_csv("/Users/feliphlvo/Documents/Minerva/Capstone/data/local/dist_matrix.csv", index_col=0)
dist_matrix.head()

            origin      dest     euclidean
0  170025105000002  17010535  13894.563390
1  170030105000001  17004268   1524.518606
2  170030105000001  17002648  10449.349289
3  170030105000002  17004268   1450.603219
4  170030105000002  17002648  10129.682425

In [34]:
# Average quality
def average_quality(
    loc_df,
    cost_df,
    max_cost=None,
    cost_source="origin",
    cost_dest="dest",
    cost_cost="cost",
    loc_index="geoid",
    loc_value=None,
    quality_value = None,
    weight_fn=None,
):
    """
    Calculation of the floating catchment (buffered) accessibility
    sum, from DataFrames with computed distances.
    This catchment may be either a simple buffer -- with cost below
    a single threshold -- or an additional weight may be applied
    as a function of the access cost.
    Parameters
    ----------
    loc_df         : `pandas.DataFrame <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html>`_
                 should contain at _least_ a list of the locations (`df_dest`) at which facilities are located.
    loc_index   : {bool, str}
                 is the the name of the df column that holds the facility locations.
                 If it is a bool, then the it the location is already on the index.
    loc_value   : str
                 If this value is `None`, a count will be used in place of a weight.
                 Use this, for instance, to count restaurants, instead of total doctors in a practice.
    cost_df    : `pandas.DataFrame <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html>`_
                 This dataframe contains the precomputed costs from an origin/index location to destinations.
    cost_source : str
                 The name of the column name of the index locations -- this is what will be grouped.
    cost_dest  : str
                 The name of the column name of the destination locations.
                 This is what will be _in_ each group.
    cost_cost  : str
                 This is is the name of the cost column.
    weight_fn  : function
                 This function will weight the value of resources/facilities,
                 as a function of the raw cost.
    max_cost   : float
                 This is the maximum cost to consider in the weighted sum;
                 note that it applies _along with_ the weight function.
    Returns
    -------
    resources  : pandas.Series
                 A -- potentially weighted -- sum of resources, facilities, or consumers.
    """
    # merge the loc dataframe and cost dataframe together
    if loc_index is True:
        temp = pd.merge(cost_df, loc_df, left_on=cost_source, right_index=True)
    else:
        temp = pd.merge(cost_df, loc_df, left_on=cost_source, right_on=loc_index)

    # constrain by max cost
    if max_cost is not None:
        temp = temp[temp[cost_cost] < max_cost].copy()

    # apply a weight function if inputted -- either enhanced two stage or three stage
    if weight_fn:
        new_loc_value_column = temp[loc_value] * temp.W3 * temp.G
        quality_column = temp[loc_value] * temp.W3 * temp.G * temp.C
        temp = temp.drop([loc_value], axis=1)
        temp[loc_value] = new_loc_value_column
        temp[quality_value] = quality_column

    access_sum = temp.groupby([cost_dest])[loc_value].sum()
    quality_sum = temp.groupby([cost_dest])[quality_value].sum()
    average_quality_series = quality_sum/access_sum
    
    return average_quality_series

In [40]:
from access.fca import weighted_catchment


def mod_three_stage_fca(
    demand_df,
    supply_df,
    cost_df,
    max_cost,
    demand_index="geoid",
    demand_name="demand",
    supply_index="geoid",
    supply_name="supply",
    cost_origin="origin",
    cost_dest="dest",
    cost_name="cost",
    # ADDED VALUE
    quality_name = "quality",
    weight_fn=None,
    normalize=False,
    
):
    """Calculation of the three-stage floating catchment accessibility
    ratio, from DataFrames with precomputed distances.
    This is accomplished through a single call of the :meth:`access.access.weighted_catchment` method,
    to retrieve the patients using each provider.
    The ratio of providers per patient is then calculated at each care destination,
    and that ratio is weighted and summed at each corresponding demand site.
    The only difference weight respect to the 2SFCA method is that,
    in addition to a distance-dependent weight (`weight_fn`),
    a preference weight *G* is calculated.  That calculation
    uses the value :math:`\\beta`.
    See the original paper by Wan, Zou, and Sternberg. :cite:`2012_wan_3SFCA`
    Parameters
    ----------
    demand_df     : `pandas.DataFrame <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html>`_
                    The origins dataframe, containing a location index and a total demand.
    demand_origin : str
                    is the name of the column of `demand` that holds the origin ID.
    demand_value  : str
                    is the name of the column of `demand` that holds the aggregate demand at a location.
    supply_df     : `pandas.DataFrame <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html>`_
                    The origins dataframe, containing a location index and level of supply
    supply_df     : `pandas.DataFrame <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html>`_
                    The origins dataframe, containing a location index and level of supply
    cost_df       : `pandas.DataFrame <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html>`_
                    This dataframe contains a link between neighboring demand locations, and a cost between them.
    cost_origin   : str
                    The column name of the locations of users or consumers.
    cost_dest     : str
                    The column name of the supply or resource locations.
    cost_name     : str
                    The column name of the travel cost between origins and destinations
    weight_fn  : function
                 This fucntion will weight the value of resources/facilities,
                 as a function of the raw cost.
    max_cost   : float
                 This is the maximum cost to consider in the weighted sum;
                 note that it applies *along with* the weight function.
    preference_weight_beta : float
                             Parameter scaling with the gaussian weights,
                             used to generate preference weights.
    Returns
    -------
    access     : pandas.Series
                 A -- potentially-weighted -- three-stage access ratio.
    """

    from access import fca
    from access.fca import weighted_catchment
    
    # create preference weight 'G', which is the weight
    cost_df["W3"] = cost_df[cost_name].apply(weight_fn)
    cost_df["C"] = cost_df[quality_name]
    cost_df["W3C"] = cost_df["W3"] * cost_df["C"]
    W3Csum_frame = (
        cost_df[[cost_origin, "W3C"]]
        .groupby(cost_origin)
        .sum()
        .rename(columns={"W3C": "W3Csum"})
        .reset_index()
    )
    cost_df = pd.merge(cost_df, W3Csum_frame)
    cost_df["G"] = cost_df.W3C / cost_df.W3Csum
    
    # get a series of total demand then calculate the supply to total demand ratio for each location
    total_demand_series = weighted_catchment(
        demand_df,
        cost_df,
        max_cost,
        cost_source=cost_origin,
        cost_dest=cost_dest,
        cost_cost=cost_name,
        loc_index=demand_index,
        loc_value=demand_name,
        weight_fn=weight_fn,
        three_stage_weight=True,
    )

    # create a temporary dataframe, temp, that holds the supply and aggregate demand at each location
    total_demand_series.name += "_W"
    temp = supply_df.join(total_demand_series, how="right")

    # there may be NA values due to a shorter supply dataframe than the demand dataframe.
    # in this case, replace any potential NA values(which correspond to supply locations with no supply) with 0.
    temp[supply_name].fillna(0, inplace=True)

    # calculate the fractional ratio of supply to aggregate demand at each location, or Rl
    temp["Rl"] = temp[supply_name] / temp[demand_name + "_W"]

    # separate the fractional ratio of supply to aggregate demand at each location, or Rl, into a new dataframe
    supply_to_total_demand_frame = pd.DataFrame(data={"Rl": temp["Rl"]})
    supply_to_total_demand_frame.index.name = "geoid"

    # sum, into a series, the supply to total demand ratios for each location
    three_stage_fca_series = weighted_catchment(
        supply_to_total_demand_frame,
        cost_df.sort_index(),
        max_cost,
        cost_source=cost_dest,
        cost_dest=cost_origin,
        cost_cost=cost_name,
        loc_index="geoid",
        loc_value="Rl",
        weight_fn=weight_fn,
        three_stage_weight=True,
    )

    average_quality_series = average_quality(
        supply_to_total_demand_frame,
        cost_df.sort_index(),
        max_cost,
        cost_source=cost_dest,
        cost_dest=cost_origin,
        cost_cost=cost_name,
        loc_index="geoid",
        loc_value="Rl",
        weight_fn=weight_fn
    )

    # remove the preference weight G from the original costs dataframe
    cost_df.drop(columns=["G", "W3", "W3Csum"], inplace=True)

    return three_stage_fca_series, average_quality_series

In [74]:
def class_mod_three_stage_fca(
    self,
    name="3sfca",
    quality_name = "Q",
    quality = "quality",
    cost=None,
    supply_values=None,
    max_cost=None,
    weight_fn=None,
    normalize=False
):
    """Calculate the three-stage floating catchment area access score.
    Parameters
    ----------
    name                : str
                            Column name for access values
    cost                : str
                            Name of cost value column in cost_df (supply-side)
    max_cost            : float
                            Cutoff of cost values
    weight_fn           : function
                            Weight to be applied to access values
    normalize           : bool
                            If True, return normalized access values; otherwise, return raw access values
    Returns
    -------
    access              : pandas Series
                            Accessibility score for origin locations.
    """
    from access import helpers
    assert (
        self.supply_value_provided == True
    ), "You must provide a supply value in order to use this functionality."

    if weight_fn is None:
        weight_fn = weights.step_fn({10: 0.962, 20: 0.704, 30: 0.377, 60: 0.042})

    cost = helpers.sanitize_supply_cost(self, cost, name)
    supply_values = helpers.sanitize_supplies(self, supply_values)

    for s in supply_values:

        series, avg_quality = mod_three_stage_fca(
            demand_df=self.demand_df,
            demand_index=self.demand_df.index.name,
            demand_name=self.demand_value,
            supply_df=self.supply_df,
            supply_index=self.supply_df.index.name,
            supply_name=s,
            cost_df=self.cost_df,
            cost_origin=self.cost_origin,
            cost_dest=self.cost_dest,
            cost_name=cost,
            max_cost=max_cost,
            weight_fn=weight_fn,
            normalize=normalize,
            quality_name=quality
            
        )

        series.name = name + "_" + s
        avg_quality.name = quality_name + "_" + s
        if series.name in self.access_df.columns:
            self.log.info("Overwriting {}.".format(series.name))
            self.access_df.drop(series.name, axis=1, inplace=True)

        # store the raw, un-normalized access values
        self.access_df = self.access_df.join(series)
        self.access_df = self.access_df.join(avg_quality)

        self.avg_quality = avg_quality
        self.access = series

    if normalize:

        columns = [name + "_" + s for s in supply_values]
        return helpers.normalized_access(self, columns)

    return self.access_df.filter(regex="^" + name, axis=1)

In [75]:
dist_matrix['quality'] = 1

In [76]:
geo_dem_census_df.columns

Index(['sector_id', 'state', 'n_households', 'n_people',
       'avg_monthly_earnings', 'n_people_15to17_white',
       'n_people_15to17_black', 'n_people_15to17_asian',
       'n_people_15to17_parda', 'n_people_15to17_indigenous', 'n_people_15',
       'n_people_16', 'n_people_17', 'n_people_15_men', 'n_people_16_men',
       'n_people_17_men', 'n_people_15_women', 'n_people_16_women',
       'n_people_17_women', 'n_people_15to17', 'n_people_15to17_alternative',
       'state_id', 'state_abbrev', 'city_id', 'city_name', 'district_id',
       'district_name', 'subdistrict_id', 'subdistrict_name',
       'neighborhood_name', 'neighborhood_id', 'zone', 'geometry',
       'microregion_id', 'microregion_name', 'mesoregion_id',
       'mesoregion_name'],
      dtype='object')

In [77]:
# Take subset of geo df with only places in RibeirÃ£o Preto
geo_dem_census_df_sub = geo_dem_census_df[geo_dem_census_df['city_name'] == 'RibeirÃ£o Preto']
geo_school_census_df_sub = geo_school_census_df[geo_school_census_df['city_name'] == 'RibeirÃ£o Preto']

In [105]:
# Creating the access object
# See documentation for the Access ibrary here: https://github.com/pysal/access/blob/main/access/access.py
A = Access(
    demand_df=geo_dem_census_df_sub,
    demand_index="sector_id",
    demand_value="n_people_15to17",
    supply_df=geo_school_census_df_sub,
    supply_index="school_id",
    supply_value=["n_classes"]
    )

In [106]:
A.create_euclidean_distance(threshold=16000, centroid_o=True, centroid_d=True)

/Users/feliphlvo/opt/anaconda3/envs/cap_env/lib/python3.10/site-packages/geopandas/array.py:546: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return _unary_geo("centroid", self)
/Users/feliphlvo/opt/anaconda3/envs/cap_env/lib/python3.10/site-packages/geopandas/geoseries.py:128: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  data = from_shapely(s.values)

In [107]:
import random
A.cost_df['quality'] = np.random.rand(A.cost_df.shape[0])

In [108]:
A.cost_df

          euclidean           origin      dest   quality
0       1325.254353  354340205000001  35023826  0.743762
1       3270.606707  354340205000001  35023851  0.856135
2       3273.191390  354340205000001  35023887  0.799676
3       5009.593786  354340205000001  35023899  0.183949
4       3673.331060  354340205000001  35023917  0.551510
...             ...              ...       ...       ...
36809   2619.979138  354340205000957  35900758  0.169510
36810   8003.042272  354340205000957  35900771  0.174624
36811  12066.556617  354340205000957  35907881  0.505864
36812   2336.479956  354340205000957  35912086  0.600801
36813  12688.059858  354340205000957  35925706  0.093585

[36814 rows x 4 columns]

In [109]:
Access.mod_three_stage_fca = class_mod_three_stage_fca

In [110]:
# Defining custom weight functions

gaussian = weights.gaussian(5000)   

# Access metrics to calculate
max_cost = 16000
A.mod_three_stage_fca(name = "mod_3sfca", quality_name = 'Q', quality='quality', weight_fn=gaussian, cost = "euclidean", max_cost = max_cost)

                 mod_3sfca_n_classes
sector_id
354340205000001             0.018217
354340205000002             0.015009
354340205000003             0.020259
354340205000004             0.016705
354340205000005             0.020941
...                              ...
354340210000026             0.017487
354340210000027             0.019731
354340210000028             0.008748
354340210000029             0.022573
354340210000032             0.015063

[957 rows x 1 columns]

In [95]:
A.avg_quality

origin
354340205000001    1.0
354340205000002    1.0
354340205000003    1.0
354340205000004    1.0
354340205000005    1.0
                  ...
354340210000026    1.0
354340210000027    1.0
354340210000028    1.0
354340210000029    1.0
354340210000032    1.0
Name: Q_n_classes, Length: 957, dtype: float64

In [96]:
A.access

origin
354340205000001    0.019253
354340205000002    0.019276
354340205000003    0.019429
354340205000004    0.019396
354340205000005    0.019485
                     ...
354340210000026    0.015659
354340210000027    0.015342
354340210000028    0.021113
354340210000029    0.020031
354340210000032    0.012165
Name: mod_3sfca_n_classes, Length: 957, dtype: float64

In [111]:
A.three_stage_fca(name = "3sfca", weight_fn=gaussian, cost = "euclidean", max_cost = max_cost)

                 3sfca_n_classes
sector_id
354340205000001         0.019253
354340205000002         0.019276
354340205000003         0.019429
354340205000004         0.019396
354340205000005         0.019485
...                          ...
354340210000026         0.015659
354340210000027         0.015342
354340210000028         0.021113
354340210000029         0.020031
354340210000032         0.012165

[957 rows x 1 columns]

In [112]:
A.access_df

,n_people_15to17,mod_3sfca_n_classes,Q_n_classes,3sfca_n_classes
sector_id,,,,
354340205000001,9.0,0.018217,0.643799,0.019253
354340205000002,11.0,0.015009,0.636463,0.019276
354340205000003,33.0,0.020259,0.633323,0.019429
354340205000004,11.0,0.016705,0.619458,0.019396
354340205000005,17.0,0.020941,0.730896,0.019485
...,...,...,...,...
354340210000026,15.0,0.017487,0.430501,0.015659
354340210000027,11.0,0.019731,0.598910,0.015342
354340210000028,22.0,0.008748,0.424948,0.021113
354340210000029,5.0,0.022573,0.505665,0.020031
354340210000032,2.0,0.015063,0.612739,0.012165

In [114]:
print(A.access_df['mod_3sfca_n_classes'].sum())
print(A.access_df['3sfca_n_classes'].sum())

15.384008720775618
15.30943869781683